doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Weekend Movie Planner
    link(rel="stylesheet" href="/styles/Style.css")
    link(rel="stylesheet" href="/styles/home.css")
  body
    include header.pug
    img(src="/images/home.jpeg" alt="Movies Banner" class="banner")
    div.welcome-section
      h2 Welcome to the Weekend Movie Planner!
      p Your one-stop destination for planning the perfect movie weekend. Browse films across your favourite streaming services, pick your genres, and build your ultimate watchlist.
      a(href="/order" class="btn") Start Planning